# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Build outputs
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Editor folders
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Frontend specific
hintcore-group/.next/
hintcore-group/out/

# Backend specific
server/uploads/
