# Dependencies
node_modules
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo local files
.expo
.expo-shared
dist
web-build

# Native build artifacts
android
ios

# Firebase config (if you don’t want them uploaded – sometimes you DO need them)
firebase/

# OS
.DS_Store

# Env files
.env*
*.local

# Logs
*.log

# TypeScript cache
*.tsbuildinfo

# IDE/editor settings
.vscode
.idea